style,
script {
  display: block;
  white-space: pre;
  height: 100%;
  background-color: #ccc;
  overflow-y: auto;
}

style::before {
  content: " CSS ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: burlywood;
}

script {
  background-color: #ddd;
}

script::before {
  content: " JS ";
  display: block;
  position: fixed;
  background-color: burlywood;
}

.cj-wrapper {
  position: relative;
  height: 200px;
  overflow: hidden;
  margin-bottom: 20px;
}
