<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Position</title>
</head>
<body>
  <style style="display:block;white-space: pre; height: 100px;overflow: auto;" contenteditable="true">
  html {
    height: 100%;
  }
  body {
    min-height: 100%;
    padding: 0;
    position: relative;
  }
  header {
    height: 100px;
    background-color: aquamarine;
  }
  article {
    height: 100px;
    background-color:blueviolet;
  }
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 100px;
    background-color: blanchedalmond;
  }
  </style>
  <header>我是头部</header>
  <article>
    中间部分
  </article>
  <footer>底部永远固定最下面</footer>
</body>
</html>